{% extends "catalog/base.html" %}

{% block content %}
<body>
    <div class="container mt-5">
        <h1>{{ blog.title }}</h1>
        {% if blog.preview_image %}
            <img src="{{ blog.preview_image.url }}" alt="Preview" class="img-fluid">
        {% else %}
            <p>Нет изображения</p>
        {% endif %}
        <p>{{ blog.content }}</p>
        <p>Ссылка: {{ blog.slug }}</p>
        <p>Создан: {{ blog.created_at }}</p>
        <p>Опубликовано: {% if blog.is_published %}Да{% else %}Нет{% endif %} </p>
        <p>Просмотров: {{ blog.view_count }}</p>
        <a href="{% url 'blog:blog_update' blog.pk %}" class="btn btn-secondary">Редактировать</a>
        <a href="{% url 'blog:blog_delete' blog.pk %}" class="btn btn-danger">Удалить</a>
        <a href="{% url 'blog:blog_list' %}" class="btn btn-primary">Обратно к списку</a>
    </div>
</body>
{% endblock %}